
.section-highlights {

    background-color: var(--color-3);
    color: white;

    .div-highlights {

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        h1{
            border-bottom: 1px solid;
            width: 100%;
            font-size: larger;
            
        }

        ul {
            display: flex;
            gap: 2rem;
            flex-wrap: wrap;
            justify-content: center;
            
        }
        
    }
}

.full-wd {
    width: 550px;
    @media (width < 600px) {
        width: 300px;
    }
    @media (width < 320px) {
        width: fit-content;
    }
}