
aside {
    background-color: var(--color-1);
    padding: 2rem;
    width: 14rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    color: white;
    border-right: 4px solid var(--color-3);

    ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        li {
            cursor: pointer;
        }
    }
}