

.li-card {

    //padding: 1rem;
    width: 370px;
    //display: flex;
    //flex-direction: column;
    //gap: 0.5rem;
    //background-color: var(--color-1);
    //color: white;
    //border-radius: 0.5rem;
  
    @media(width < 600px){
        width: 300px
    }

    @media(width <320px){
        width: fit-content;
    }

}