
.div-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

}

.form-search {
  
    display: flex;
    gap: 0.5rem;
    width: 100%;
    justify-content: center;
    @media (width < 400px) {
        flex-direction: column;
    }
   
    input {
        padding: 0.5rem 1rem;
        width: 75%;
        border-radius: 0.5rem;
        border: 1px solid;
       
        @media (width < 400px) {
            width:  100%;
        }
    }

    button{
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        border: 1px solid;
        @media (width < 400px) {
            width:  100%;
        }
    }
    
}

.ul-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    width: 100%;

    h4{
        
        width: 100%;
    }

    div {
        display: flex;
        gap: 1rem;
        width: 80%;
        justify-content: space-between;
        @media (width < 600px) {
            flex-direction: column;
            width: 100%;
            align-items: center;
            justify-content: center;

            li {
                width: 100%;
            }
        }
    }

    li {
        cursor: pointer;
        border: 1px solid;
        padding: 0.5rem;
        border-radius: 0.5rem;
        width: 30%;
        text-align: center;
    }

    li:hover{
        opacity: 70%;
    }
}

.green {
    background-color: green;
    color: white;
}

.yellow {
    background-color: darkgoldenrod;
    color: white;
}


.red {
    background-color: darkred;
    color: white;
}   

.clear-filter {

    border: 1px solid;
    width: 30%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--color-7);
    @media (width < 600px) {
        width: 100%;
    }
}