
header {
    height: 5rem;
    background-color: var(--color-1);
    border-bottom: 2px solid black;
    color: white;
}

.div-header{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-infos {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
}

.div-buttons {
    display: flex;
    gap: 1rem;
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border: 1px solid white;
    border-radius: 50%;
}

.name {
    font-family: "IBM Plex Sans";
    font-size: 1.3rem;
    color: var(--grey4);
 
}

.name:hover{
    color: unset;
    cursor:default;
}

.trigger {
    display: none;
}


.mobile-menu {
    display: none;
    border: 1px solid black;
    background-color: var(--color-2);
    color: white;
    text-align: center;
    padding: 1rem;
    position: sticky;
    top: 0rem;
    width: 100%;
    height: 100vh;

    a {
        border: 1px solid;
        padding: 0.7rem;
        background-color: white;
        color: black;
        border-radius: 0.5rem;
        
    }


}

.trigger-button {
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--color-2);
    color: white;
}

@media(width <768px){

    .trigger {
        display: block;
    }

    .div-buttons {
        display: none;
    }

    .is-open {
        display: flex;
        flex-direction: column;

        gap: 3rem;
    }

    .name {
        font-size: unset;
    }


}