@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&family=Inter:wght@400;500;600&family=Lexend:wght@500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family:"Inter", sans-serif;
   
}


:root {
    --color-1: #1BAE70;
    --color-2: #06752E;
    --color-3: #14261C;
    --color-4: #4e5652;  
    --color-5: #4B4F58;
    --color-6: #f4f6f4;
    --color-7: #f6f7f8;
    --color-black: #000000;
    --color-white: #FFFFFF;
}

.lexend {
    font-family: "Lexend", sans-serif;
}

.container {
    max-width: 80rem;
    margin: 0 auto;
    width: 100%;
    padding: 1rem;
}

button {
    cursor: pointer;
    background-color: unset;
    border: unset;
}

button:hover {
    opacity: 80%;
}

// a {
//     color: unset;
// }

// a:hover {
//     color:purple;
// }

